Ejercicio 02.json
[
    {
        "id": "86f34885743068d7",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "de8f302d997fdab2",
        "type": "mqtt in",
        "z": "86f34885743068d7",
        "name": "iot2/cpu",
        "topic": "iot2/cpu",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "07085cb78fc00924",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 260,
        "wires": [
            [
                "b6aab9a8f0f8bbfd",
                "6cd890526f31e4ae"
            ]
        ]
    },
    {
        "id": "b6aab9a8f0f8bbfd",
        "type": "ui_gauge",
        "z": "86f34885743068d7",
        "name": "CPU",
        "group": "b82ff685ac9588d7",
        "order": 8,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "CPU",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ffea00",
            "#00e62e",
            "#593acb"
        ],
        "seg1": "30",
        "seg2": "60",
        "diff": false,
        "className": "",
        "x": 410,
        "y": 260,
        "wires": []
    },
    {
        "id": "5e4c7a984b08e78d",
        "type": "mysql",
        "z": "86f34885743068d7",
        "mydb": "c52cb34018bc5133",
        "name": "base de datos",
        "x": 680,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "3ea48c12646030da",
        "type": "ui_gauge",
        "z": "86f34885743068d7",
        "name": "",
        "group": "b82ff685ac9588d7",
        "order": 7,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "units",
        "format": "{{value}} Cº",
        "min": 0,
        "max": "100",
        "colors": [
            "#2353e1",
            "#00e61b",
            "#ca3838"
        ],
        "seg1": "40",
        "seg2": "60",
        "diff": false,
        "className": "",
        "x": 390,
        "y": 60,
        "wires": []
    },
    {
        "id": "3ce66b9ca7b6d3b0",
        "type": "mqtt in",
        "z": "86f34885743068d7",
        "name": "iot2/temp",
        "topic": "iot2/temp",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "07085cb78fc00924",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 180,
        "wires": [
            [
                "3ea48c12646030da",
                "6cd890526f31e4ae"
            ]
        ]
    },
    {
        "id": "6cd890526f31e4ae",
        "type": "function",
        "z": "86f34885743068d7",
        "name": "function 4",
        "func": "if (msg.topic == \"iot/temp\" && isNaN(msg.payload)) {\n  \n    msg.topic = \"INSERT INTO tbl_temperatura(temperatura, descripcion)\"\n        + \"VALUES(\" + msg.payload + \", 'Insercion desde MQTT')\";\n    \n    if (msg.cpu && !isNaN(msg.cpu)) {\n     \n        \n        node.warn(\"CPU: \" + msg.cpu);\n    }\n    if (msg.memoria && !isNaN(msg.memoria)) {\n       \n        node.warn(\"Memoria: \" + msg.memoria);\n    }\n} else {\n    msg.topic = \"\";\n}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 180,
        "wires": [
            [
                "5e4c7a984b08e78d"
            ]
        ]
    },
    {
        "id": "e15287567a954533",
        "type": "ui_switch",
        "z": "86f34885743068d7",
        "name": "Maquina",
        "label": "Maquina",
        "tooltip": "",
        "group": "429ca44bfaffe3d3",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "wb_sunny",
        "oncolor": "red",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "brightness_3",
        "offcolor": "black",
        "animate": false,
        "className": "",
        "x": 240,
        "y": 400,
        "wires": [
            [
                "d32dd58298b441fe"
            ]
        ]
    },
    {
        "id": "d32dd58298b441fe",
        "type": "mqtt out",
        "z": "86f34885743068d7",
        "name": "iot/Maquina",
        "topic": "iot/Maquina",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "07085cb78fc00924",
        "x": 410,
        "y": 400,
        "wires": []
    },
    {
        "id": "e2ab380cab6bfbd6",
        "type": "mqtt in",
        "z": "86f34885743068d7",
        "name": "iot2/Memoria",
        "topic": "iot2/memoria",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "07085cb78fc00924",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 320,
        "wires": [
            [
                "ccc6a79a2d7e33c0",
                "6cd890526f31e4ae"
            ]
        ]
    },
    {
        "id": "ccc6a79a2d7e33c0",
        "type": "ui_gauge",
        "z": "86f34885743068d7",
        "name": "Memoria",
        "group": "b82ff685ac9588d7",
        "order": 8,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Memoria",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ffea00",
            "#00e62e",
            "#593acb"
        ],
        "seg1": "30",
        "seg2": "60",
        "diff": false,
        "className": "",
        "x": 420,
        "y": 320,
        "wires": []
    },
    {
        "id": "288822da61049a24",
        "type": "ui_switch",
        "z": "86f34885743068d7",
        "name": "Ventilador",
        "label": "Ventilador",
        "tooltip": "",
        "group": "429ca44bfaffe3d3",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "wb_sunny",
        "oncolor": "red",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "brightness_3",
        "offcolor": "black",
        "animate": false,
        "className": "",
        "x": 260,
        "y": 460,
        "wires": [
            [
                "7a96c77b1ff8edee"
            ]
        ]
    },
    {
        "id": "7a96c77b1ff8edee",
        "type": "mqtt out",
        "z": "86f34885743068d7",
        "name": "iot/Ventilador",
        "topic": "iot/Ventilador",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "07085cb78fc00924",
        "x": 430,
        "y": 460,
        "wires": []
    },
    {
        "id": "424c42b736d6fb75",
        "type": "ui_switch",
        "z": "86f34885743068d7",
        "name": "Pantalla",
        "label": "Pantalla",
        "tooltip": "",
        "group": "429ca44bfaffe3d3",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "wb_sunny",
        "oncolor": "red",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "brightness_3",
        "offcolor": "black",
        "animate": false,
        "className": "",
        "x": 260,
        "y": 520,
        "wires": [
            [
                "8db6b073e1093119"
            ]
        ]
    },
    {
        "id": "8db6b073e1093119",
        "type": "mqtt out",
        "z": "86f34885743068d7",
        "name": "iot/pantalla",
        "topic": "iot/pantalla",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "07085cb78fc00924",
        "x": 430,
        "y": 520,
        "wires": []
    },
    {
        "id": "07085cb78fc00924",
        "type": "mqtt-broker",
        "name": "Server",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "Omar",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "b82ff685ac9588d7",
        "type": "ui_group",
        "name": " informacion",
        "tab": "95fcd7c4dd0b2668",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "c52cb34018bc5133",
        "type": "MySQLdatabase",
        "name": "base de datos",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "iot_db",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "429ca44bfaffe3d3",
        "type": "ui_group",
        "name": "Acciones",
        "tab": "95fcd7c4dd0b2668",
        "order": 3,
        "disp": true,
        "width": "3",
        "collapse": true,
        "className": ""
    },
    {
        "id": "95fcd7c4dd0b2668",
        "type": "ui_tab",
        "name": "Iot",
        "icon": "payment",
        "disabled": false,
        "hidden": false
    }
]